  .education_btn_reg {
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
  }
  .footer__button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-family: Garamond;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    .title {
      font-size: 54px;
      line-height: 120%;
      margin: 260px auto 145px;
    }
  }
  .page {
    background-color: #967d7d;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
  }
  .page__container {
    margin: 0 auto;
    /* max-width: 320px; */
  }
  /* @media screen and (min-width: 414px) {
    .page__container {
      max-width: 414px;
    }
  } */
 

  
  .header__education-container-info {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .header__education-container {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  @media screen and (min-width: 1024px) {
    .header__education-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 45px;
    }
  }
  .header__education-img {
    border-radius: 50%;
    margin-bottom: 30px;
    width: 200px;
  }
  @media screen and (min-width: 768px) {
    .header__education-img {
      margin-top: 40px;
    }
  }
  @media screen and (min-width: 1024px) {
    .header__education-img {
      height: 200px;
      width: 200px;
    }
  }
  .header__education-title {
    font-size: 30px;
    margin: 10px auto 0;
  }
  @media screen and (min-width: 1024px) {
    .header__education-title {
      margin: 10px 0 0;
    }
  }

  
  .info__container-post {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 10px;
  }
  @media screen and (min-width: 480px) {
    .info__container-post {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 1024px) {
    .info__container-post {
      -moz-column-gap: 25px;
      column-gap: 25px;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 1280px) {
    .info__container-post {
      -moz-column-gap: 10px;
      column-gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
  .info__post {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    .info__post {
      -moz-column-gap: 10px;
      column-gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
  @media screen and (min-width: 800px) {
    .info__post {
      width: 91%;
    }
  }
  @media screen and (min-width: 1280px) {
    .info__post {
      width: 100%;
    }
  }
  .info__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    margin: 25px auto;
    row-gap: 10px;
  }
  @media screen and (min-width: 414px) {
    .info__nav {
      grid-template-columns: repeat(5, auto);
    }
  }
  @media screen and (min-width: 1024px) {
    .info__nav {
      display: flex;
      justify-content: space-evenly;
      margin: 50px auto;
      width: 700px;
    }
  }
  .situations {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 20px;
  }
  @media screen and (min-width: 768px) {
    .situations {
      grid-template-columns: repeat(2, 360px);
      justify-content: space-evenly;
      row-gap: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    .situations {
      -moz-column-gap: 10px;
      column-gap: 10px;
      grid-template-columns: repeat(3, 416px);
      row-gap: 40px;
    }
  }
  .situations__item {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .situations__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .situations__title {
    font-family: Cormorant Garamond;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 5px;
  }
  @media screen and (min-width: 1024px) {
    .situations__title {
      font-size: 30px;
      line-height: 85%;
    }
  }
  .situations__subtitle {
    padding: 0 0 5px;
  }
  @media screen and (min-width: 1024px) {
    .situations__subtitle {
      padding: 0;
    }
  }
  .situations__icon {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    width: 70px;
  }
  @media screen and (min-width: 1024px) {
    .situations__icon {
      width: 100px;
    }
  }
  
  
  
  
  
  .education__title {
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: 10px auto;
  }
  @media screen and (min-width: 1024px) {
    .education__title {
      font-size: 30px;
      line-height: 85%;
      margin: 25px auto 5px;
    }
  }
  .education__education-title {
    font-size: 24px;
    margin: 10px auto;
  }
  @media screen and (min-width: 1024px) {
    .education__education-title {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
  .education__items {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .items1 {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    row-gap: 10px;
  }
  .items1 img,
  .items3 img {
    width: 320px;
  }
  .items2 {
    align-items: center;
    margin: 10px 0 20px;
  }
  .items2,
  .items3 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .items3 {
    margin-top: 10px;
  }
  @media screen and (min-width: 768px) {
    .items1 {
      grid-template-columns: repeat(2, auto);
    }
    .items1,
    .items2 {
      -moz-column-gap: 10px;
      column-gap: 10px;
      display: grid;
      row-gap: 10px;
    }
    .items2 {
      align-items: start;
      grid-template-columns: repeat(3, auto);
    }
    .items3 {
      -moz-column-gap: 10px;
      column-gap: 10px;
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1024px) {
    .items1 {
      -moz-column-gap: 10px;
      column-gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      row-gap: 10px;
    }
    .items2 {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 20px;
    }
    .items2,
    .items3 {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .items3 {
      -moz-column-gap: 40px;
      column-gap: 40px;
    }
  }
  .education__diploms-subtitle {
    font-family: Cormorant Garamond;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 15px;
    text-align: center;
    width: 320px;
  }
  .education__slide {
    text-align: center;
  }
 

